.container {
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    height: 50vh;
}

.container div {
    flex-basis: 20%;
    height: 100%;
}

.list {
    display: flex;
    list-style: none;
    padding-left: 10%;
}

.list li a {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
}
